<md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">EspServer Configuration</span>
            <span class="md-subhead">Quelques outils de configuration</span>
        </md-card-title-text>
        <img src="img/lux.svg" class="md-card-image" alt="Washed Out" height="50" width="50">
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
        <md-button>Connection Wifi</md-button>
        <md-button>Connection Serveur Distant</md-button>
    </md-card-actions>
</md-card>

<md-card md-theme="{{'dark-grey'}}" md-theme-watch>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Espserver Actions</span>
            <span class="md-subhead">Quelques actions sympa</span>
        </md-card-title-text>
        <md-card-title-media>
            <img src="img/energy.svg" class="md-card-image" alt="Washed Out" height="50" width="50">
        </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
        <md-button>Tout éteindre</md-button>
        <md-button>Tout allumer</md-button>
        <md-button>Graph de consommation</md-button>
    </md-card-actions>
</md-card>